#form-panel {
    background-color: rgba(30, 90, 255, .9);
    box-shadow: rgba(10, 30, 85, 1) 0px 10px 7px;
    color: white;
    padding: 30px;
}

.submission-btn {
    text-align: center;
    background-color: rgba(30, 90, 255, .9);
    box-shadow: rgba(10, 30, 85, .8) 0px 10px 7px;
    border-radius: 3px;
    border: none;
    color: whitesmoke;
    font-size: large;
    padding: 5px 20px 5px 20px;
    margin-top: 30px;
}

h1 {
    color: white;
    font-weight: 800;
    text-shadow: 10px 2px 15px blue;
    margin-top: 8%;
    margin-bottom: 20px;
}
