
h1 {
    color: white;
    font-weight: 800;
    text-shadow: 10px 2px 15px red;
    text-align: center;
    margin-top: 12%;
}

.btn-FitZone {
    text-align: center; 
    background-color: rgba(250, 30, 90, .9);
    border-radius: 0px;
    border: none;
    color: whitesmoke;
    font-size: xx-large;

}

#new-workout {
    width: 100%;
    height: auto;
    background-color: rgba(250, 30, 90, .9);
    box-shadow: rgba(163, 20, 60, .8) 0px 10px 7px;
}

#new-program {
    width: 48%;
    height: auto;
    float: left;
    background-color: rgba(30, 90, 255, .9);
    box-shadow: rgba(10, 30, 85, 1) 0px 10px 7px;
}

#continue-program {
    width: 48%;
    height: auto;
    float: right;
    background-color: rgba(30, 90, 255, .9);
    box-shadow: rgba(10, 30, 85, 1) 0px 10px 7px;
}


.heading {
    color: white;
    font-weight: 800;
    text-shadow: 10px 2px 15px rgba(49, 213, 225, .9);
    text-align: left;
}

.panel {
    background-color: rgba(49, 213, 225, .9);
    box-shadow: rgba(16, 70, 70, .8) 0px 10px 7px;
}

