@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/Account.css" type="text/css" />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>



<form id="account" method="post">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7" id="form-panel">
            <h4>Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword" style="color: white">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color: white">Register as a new user</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group">
            <input type="submit" class="submission-btn" style="margin-top: 30px;" value="Login" />
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
