@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    ViewData["Role"] = "Client";
}

<style>
    #panel {
        background-color: rgba(30, 90, 255, .9);
        box-shadow: rgba(10, 30, 85, 1) 0px 10px 7px;
        color: white;
        padding: 30px;
    }

    .btn-fun {
        text-align: center;
        background-color: rgba(30, 90, 255, .9);
        box-shadow: rgba(10, 30, 85, .8) 0px 10px 7px;
        border-radius: 3px;
        border: none;
        color: whitesmoke;
        font-size: large;
        padding: 5px 20px 5px 20px;
        margin-top: 30px;
    }
    h1 {
        color: white;
        font-weight: 800;
        text-shadow: 10px 2px 15px blue;
        margin-top: 8%;
        margin-bottom: 20px;
    }
</style>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>


        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5" id="panel">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <input asp-for="Input.Role" type="hidden" value="Client" />
                <input type="submit" class="btn-fun" value="Register" />
            </div>
        </form>



        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
