@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/FitZone.css" />


    
<h1 style="color: white; font-weight: 800; text-shadow: 10px 2px 15px blue; margin-top: 15%; text-align: center;">Just You and AutonoFit.</h1>

<div class="row" style="margin-top: 11%;">

    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <a class="nav-link text-light btn-FitZone" id="new-program" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="nav-link text-light btn-FitZone" id="continue-program" asp-area="Identity" asp-page="/Account/Login" style="background-color: rgba(250, 30, 90, .9); box-shadow: rgba(163, 20, 60, .8) 0px 10px 7px;">Login</a>
    </div>
    <div class="col-lg-3"></div>
</div>
