@model AutonoFit.Models.Client

@{
    ViewData["Title"] = "FitZone";
}

<link rel="stylesheet" href="~/css/FitZone.css" />

<h1>FitZone</h1>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form asp-action="SingleWorkoutSetup" method="get">
            <input type="submit" class="btn-lg btn-FitZone" id="new-workout" style="justify-content: center;" value="New Workout" />
        </form>
    </div>
    <div class="col-lg-3">    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form asp-action="ProgramSetup">
            <input type="submit" class="btn-lg btn-FitZone" id="new-program" value="New Program"/>
        </form>
        <form asp-action="ProgramsList">
            <input type="hidden" asp-for="@Model.ClientId" name="clientId"/>
            <input type="submit" class="btn-lg btn-FitZone" id="continue-program" value="Continue"/>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>



