@model AutonoFit.ViewModels.ProgramSetupVM

@{
    ViewData["Title"] = "Workout Setup";
    ViewData["ErrorMessage"] = Model.ErrorMessage;
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
