@model IEnumerable<AutonoFit.Models.ClientProgram>

@{
    ViewData["Title"] = "Programs List";
}

<link rel="stylesheet" href="~/css/ProgramList.css" />

<div class="row" style="margin-top: 8%;">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <h1>Select Program To Continue</h1>
    </div>
    <div class="col-md-3" style="margin-top: 17px;">
        <a class="btn-back" asp-action="Index" >Back</a>
    </div>
</div>

<table class="table" id="programs-table">
    <thead>
        <tr>     
            <th>
                Program Name
            </th>       
            <th>
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ProgramName
            </td>
            <td>
                @item.ProgramStart.Date.ToString("MM/dd/yy")
            </td>
            <td>
                <div class="row">
                    <div>
                        <form asp-action="ProgramOverview">
                            <input type="hidden" asp-for="@item.ProgramId" name="programId" />
                            <input type="submit" class="btn-green" value="Select" style="margin-right: 5px;" />
                        </form>
                    </div>
                    <div>
                        <form asp-action="DeleteProgram">
                            <input type="hidden" asp-for="@item.ProgramId" name="id" />
                            <input type="submit" class="btn-green" value="Delete" />
                        </form>
                    </div>
                </div>  
            </td>
        </tr>
}
    </tbody>
</table>
