@model IEnumerable<AutonoFit.Models.ClientProgram>

@{
    ViewData["Title"] = "Programs List";
}

<h1>Select Program To Continue</h1>

<p>
    <a class="btn btn-primary" asp-action="Index">Back</a>
</p>
<table class="table">
    <thead>
        <tr>     
            <th>
                Program Name
            </th>       
            <th>
                Date Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ProgramName
            </td>
            <td>
                @item.ProgramStart.Date.ToString("MM/dd/yy")
            </td>
            <td>
                <form asp-action="ProgramOverview">
                    <input type="hidden" asp-for="@item.ProgramId" name="programId" />
                    <input type="submit" class="btn btn-primary" value="Select" />
                </form>
                <form asp-action="DeleteProgram">
                    <input type="hidden" asp-for="@item.ProgramId" name="id"/>
                    <input type="submit" class="btn btn-primary" value="Delete" style="display: inline-block" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
