@model AutonoFit.ViewModels.SingleWorkoutVM

@{
    ViewData["Title"] = "Workout Setup";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<link rel="stylesheet" href="~/css/FitZone.css" />

<hr />
<div class="container">
    <div class="row">
        <form>
            <div>
                <br />
                <div class="form-group">
                    <label asp-for="@Model.Minutes" class="control-label">Session Length: </label>
                    <input asp-for="@Model.Minutes" min="20" max="90" value="45" style="display: inline-block;"/>
                    <p style="display: inline-block;">minutes</p>
                </div>
            </div>
        </form>
    </div>
</div>
